@using U4_W4_BENCHMARK.Models

@{
    ViewBag.Title = "Index";
}

@if (TempData["OK"] != null)
{
    <div class="alert alert-primary w-25 mx-auto text-center m-4">@TempData["Ok"]</div>
}

<div class="d-flex w-100 min-vh-100 border border-3 border-danger">
    <aside class="d-flex flex-column justify-content-center p-5 bg-danger">
    </aside>
    <section class="w-100 pb-5 mx-3">
        <div class="d-flex justify-content-between py-3 align-items-center">
            <h1>Violazioni</h1>
            @Html.ActionLink("Nuova violazione", "Create", "Violazione", new { @class = "btn btn-danger fw-semibold h-50" })
        </div>
        <table class="table table-bordered">
            <thead class="text-bg-danger">
                <tr>
                    <th>Codice</th>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Violazione v in Model)
                {
                    <tr>
                        <td>@v.IdViolazione</td>
                        <td>@v.Descrizione</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

